<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TE6QJSK6LL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TE6QJSK6LL');
  </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedBox</title>
	<!-- Meta
	============================================= -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1, max-scale=1">

    <meta name="author" content="MedBox">
    <!-- description -->
    <meta name="description" content="MedBox is the one stop solution to your pharmacy needs.">
    <!-- keywords -->
    <meta name="keywords" content="MedBox India, Medbox pharmacy, Medbox, medicine, pills, Pill Pack, Pill Box">

    <!-- GODADDY FAVICON ISSUE -->
    <link rel="icon" href="https://i.ibb.co/PWwBVsS/website-Header-Icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://i.ibb.co/PWwBVsS/website-Header-Icon.png" type="image/x-icon">

    <!-- Update your html tag to include the itemscope and itemtype attributes. -->

    <!-- Place this data between the <head> tags of your website -->
<title>MedBox</title>
<meta name="description" content="MedBox is the one stop solution to your pharmacy needs." />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="MedBox - Pharmacy Simplified">
<meta itemprop="description" content="MedBox is the one stop solution to your pharmacy needs.">
<meta itemprop="image" content="https://i.ibb.co/PWwBVsS/website-Header-Icon.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="www.medbox.me">
<meta name="twitter:title" content="MedBox">
<meta name="twitter:description" content="MedBox is the one stop solution to your pharmacy needs.">
<meta name="twitter:creator" content="@kshitij_dhyani">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://i.ibb.co/PWwBVsS/website-Header-Icon.png">

<!-- Open Graph data -->
<meta property="og:title" content="MedBox" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.medbox.me/" />
<meta property="og:image" content="https://i.ibb.co/PWwBVsS/website-Header-Icon.png" />
<meta property="og:description" content="MedBox is the one stop solution to your pharmacy needs." />
<meta property="og:site_name" content="MedBox" />
<meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />
<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />
<meta property="article:section" content="MedBox" />
<meta property="article:tag" content="Pharmacy Simplified" />
<meta property="fb:admins" content="Facebook numberic ID" />


	<!-- Stylesheets
	============================================= -->
	<link href="css/css-assets.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700i,700" rel="stylesheet">

	<!-- Favicon
	============================================= -->
	<link rel="shortcut icon" href="https://i.ibb.co/PWwBVsS/website-Header-Icon.png">
	<link rel="apple-touch-icon" href="https://i.ibb.co/PWwBVsS/website-Header-Icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://i.ibb.co/PWwBVsS/website-Header-Icon.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://i.ibb.co/PWwBVsS/website-Header-Icon.png">

    <style>

        :root {
  --input-color: #99A3BA;
  --input-border: #CDD9ED;
  --input-background: #fff;
  --input-placeholder: #CBD1DC;
  --input-border-focus: #275EFE;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #EEF4FF;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678EFE;
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
}
.form-field::-moz-placeholder {
  color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
  color: var(--input-placeholder);
}
.form-field::placeholder {
  color: var(--input-placeholder);
}
.form-field:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
}
.form-group > span,
.form-group .form-field {
  white-space: nowrap;
  display: block;
}
.form-group > span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.form-group > span:first-child,
.form-group .form-field:first-child {
  border-radius: 6px 0 0 6px;
}
.form-group > span:last-child,
.form-group .form-field:last-child {
  border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child),
.form-group .form-field:not(:first-child) {
  margin-left: -1px;
}
.form-group .form-field {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}
.form-group > span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid var(--group-border);
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.form-group:focus-within > span {
  /* color: var(--group-color-focus); */
  /* background: var(--group-background-focus); */
  border-color: var(--group-border-focus);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Mukta Malar", Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #5693ef;
}
body .form-group {
  max-width: 360px;
}
body .form-group:not(:last-child) {
  margin-bottom: 32px;
}
    </style>
</head>

<body>
    <div style="margin-bottom: 6rem;">   
        <div>        
            <p style="color: white; font-size: 20px; justify-content: center;">Know of someone who might need this?</p>
        </div>     
        <div class="form-group" style="margin:auto;">
            <input id="myInput" class="form-field" type="text" value="http://medbox.me/" placeholder="Referral">
            <span onclick="myFunction()"> <img id="imageid" style="height: 20px;" src="https://i.ibb.co/XZ9GgJn/copy.png" alt="Copy-Icon"> </span>
        </div>
    </div>
</body>
<script>
    function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);

  /* Alert the copied text */
    //   alert("Copied the text: " + copyText.value);
    document.getElementById("imageid").src="https://i.ibb.co/gFJJQPY/checked.png";

}
</script>
</html>